Package: ${project.artifactId}
Version: ${project.detailedVersion}
Section: text
Priority: optional
Architecture: all
Maintainer: Christian Egli <christian.egli@sbs.ch>
Description: Auxiliary liblouis tables to generate good German Braille at SBS.
