#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with autotools-dev

# build data.tar.gz instead of data.tar.xz inside deb, see https://askubuntu.com/a/525946
override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/sbs-braille-tables prefix=/usr/local install

override_dh_usrlocal:
